.contact__option {
  background: var(--bs-secondary);
  padding: 1.2rem;
  border-radius: 0.75rem;
  text-align: center;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}

.contact__option:hover {
  background: transparent;
  border-color: var(--bs-primary);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--bs-primary);
}

/* Narrower contact section */
.contact__wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.copy__button {
  background: none;
  border: none;
  color: var(--bs-primary);
  font-style: italic;
}

.form-control::placeholder {
  color: var(--bs-light);
}