.portfolio__item {
  background: var(--bs-secondary);
  padding: 1.2rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}

.portfolio__item:hover {
  border-color: var(--bs-primary);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 0.75rem;
  overflow: hidden;
  height: 200px;
  display: block;
}

.portfolio__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}

.portfolio__item-image:hover img {
  filter: grayscale(0%);
}
