.portfolio__item {
  background: var(--bs-secondary);
  padding: 1.2rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}

.portfolio__item:hover {
  border-color: var(--bs-primary);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 0.75rem;
  overflow: hidden;
  display: block;

  aspect-ratio: 16 / 9; /* or 1 / 1 for square, 4 / 3, etc. */
  height: auto;         /* let height be determined by ratio */
  width: 100%;          /* image scales responsively */
}
