.experiences__container {
  max-width: 600px;
}

.experience__avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.3rem solid var(--bs-primary);
}

.experience {
  background: rgba(var(--bs-primary-rgb), 0.2);
  padding: 1.5rem;
  border-radius: 1rem;
}

.experience__name {
  text-align: center;
}

.experience__bullet {
  color: var(--bs-light);
  font-weight: 300;
  display: block;
  margin: 0.5rem auto;
}

.experience__bullet span {
  font-weight: 500;
  color: white;
}

.experiences__category {
  margin: 2rem 0 1rem;
  text-align: center;
  color: var(--bs-primary);
}
